.footer {
    background-color: #f7ca18;
    width: 98%;
    padding: 1%;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 1em;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
        justify-content: flex-start;
    }
}
