.list {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%;
    margin: auto;
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    min-height: 335px;
}

@media (max-width: 768px) {
    .list {
        width: 80%;
    }
}
